@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

*{
    box-sizing: border-box;
    font-family:"Inter",sans-serif;

}
body{
    background-image: url(./assets/v1.jpg)
}

.App-cont{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.App-cont h1{
    font-weight: 600;
    font-size: 18px;
    color: #e5ece7fa;
}
.App-cont p{
    color: #b4d0d6;
}
.QRimg{
    padding: 10px;
    width: 200px;
    box-shadow: 1px 1px  15px rgba(107, 140, 148, 0.505);
margin-bottom: 20px;
}

.input-label{
  display: block;
  margin: 8px 8px;
  color: #91aab3;
  font-size: 15px;
  font-weight: 500;
  
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border:2px solid #91aab3;
    background-color: transparent;
    color: rgb(194, 236, 230);
   
}
input::placeholder{
    color: #b3c9ca;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Gen-Btn{
    background-color: #32a2ca;
}
.Gen-Btn:hover{
    background-color: #1363a9;
}
.Gen-Btn:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;

}

.DW-Btn{
    background-color: #17a448;
    margin-left: 10px;

}

.DW-Btn:hover{
    background-color: #0b8933;
}

footer{
    color: #788184;
    margin-top: 20px;
    font-size: small;
}
footer a{
    color: #61707d;
}



@media (max-width: 480px) {

    button {
   margin-top: 20px;
}
    
}
